.contents
  = render 'devise/shared/side_bar'
  .contents__right
    .contents__right__header
      %h1.contents__right__header__group-name
        = @group.name
      .contents__right__header__edit-btn
        =link_to "edit", class: "edit-btn" do
          Edit
      %ul.contents__right__header__member-list
        - @group.group_users.each do |group_user|
          = group_user.user.name
    .contents__right__center
      = render @messages
      /renderで呼び出される部分
    
    .contents__right__footer
      = form_for [@group, @message], html:{class: "js-form"} do |f|
        .contents__right__footer__image
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          = f.label :image, class: 'contents__right__footer__image_btm' do
            = fa_icon 'image', class: 'icon'
            = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'contents__right__footer__upper-info'
